In [2]:
 1 + 1

2

In [3]:
1.0+1.0

2.0

In [7]:
mynumber = 2

In [8]:
mynumber = 2

In [9]:
y = 3

In [10]:
mynumber + y

5

In [11]:
num = 26

In [13]:
name = 'Joseph'

In [14]:
"my name is {} nad my number is {}".format(name,num)

'my name is Joseph nad my number is 26'

In [15]:
print("my name is {} nad my number is {}".format(name,num))

my name is Joseph nad my number is 26

In [17]:
print("my name is {one} nad my number is {two}".format(one=name, two=num))

my name is Joseph nad my number is 26

In [18]:
s='hello'

In [19]:
s[0]

'h'

In [20]:
s[4]

'o'

In [21]:
my_list = ['a', 'b','c']

In [22]:
my_list.append('d')

In [23]:
my_list

['a', 'b', 'c', 'd']

In [24]:
nest = [1,2,[3,4]]

In [25]:
nest[2][1]

4

Dictionarys turn Keys into a list based on keys rather than sequence

In [36]:
d = {'key1':'abc', 'key2':123}

In [37]:
d

{'key1': 'abc', 'key2': 123}

In [38]:
d['key2']

123

Nested dictionaries with lists

In [39]:
d = {'k1':{'InnerKey':[1,2,3]}}

In [40]:
d['k1']['InnerKey'][2]

3

A tuple is a list with (), the difference is that tuples are immutable (cannot mutate) meaning that you cant reassign or <br> change  the items inside the list

In [46]:
(1,2,3)

(1, 2, 3)

In [48]:
tuple = (1,2,3)

In [51]:
tuple[2] = 4

TypeError: 'tuple' object does not support item assignment

Sets: just a list of elements that return distinct values in a set using {}

In [42]:
{1,2,3}

{1, 2, 3}

In [43]:
{1,1,1,2,2,2,3,3,3}

{1, 2, 3}

In [59]:
s = set([1,1,1,1,1,2,2,2,2,3,3,3,3,5,5,5,6,6,6])

In [60]:
s

{1, 2, 3, 5, 6}

In [56]:
s.add(7)

In [57]:
s

{1, 2, 3, 5, 6, 7}

In [61]:
if 1 == 2:

SyntaxError: unexpected EOF while parsing (<ipython-input-61-af000e574aac>, line 1)

In [64]:
if 1==2:
    print ("First")
else:
    print("last")

last

In [65]:
if 1==2:
    print ("First")
elif 3==3:
    print("middle")
else:
    print("last")

middle

In [67]:
seq = [1,2,3,4,5]

In [70]:
for item in seq: #item can be any varaible name, doesnt have to be item
    print(item)

1
2
3
4
5

In [73]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [74]:
for x in seq:
    print(x)

1
2
3
4
5

In [75]:
range(0,5)

range(0, 5)

In [77]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [81]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [95]:
y = [1,2,3,4]

In [96]:
x = []

In [101]:
for item in y:
    x.append(item**2)

In [102]:
print(x)

[1, 4, 9, 16]

In [105]:
[item**2 for item in y] # = list comprehension format is append part "item**2" + for loop part "for x in y" (more advanced)

[1, 4, 9, 16]

In [107]:
def my_func(param1):
    print(param1)

In [109]:
my_func("hello")

hello

In [116]:
def greeting(param1 = 'Name'):
    print("hello " + param1)

In [118]:
greeting()

hello Name

In [119]:
range # hit shift tab to see more information on any function or call

range

In [123]:
def times2(num):
    return num*2

In [124]:
times2(5)

10

In [136]:
seq = [1,2,3,4,5]

In [127]:
map(times2,seq) #map matches the function

In [129]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

lambda function removes def and return

In [130]:
t = lambda num:num*2

In [131]:
t(6)

12

In [132]:
list(map(lambda num:num*3,seq))

[3, 6, 9, 12, 15]

In [140]:
list(filter(lambda num: num%2==0, seq)) #filters out based on a boolean

[2, 4]

In [142]:
s = 'Hello, my name is Elder Price'

In [143]:
s.lower()

'hello, my name is elder price'

In [144]:
s.upper()

'HELLO, MY NAME IS ELDER PRICE'

In [145]:
s.split()

['Hello,', 'my', 'name', 'is', 'Elder', 'Price']

In [146]:
tweet = "hello sports #sports"

In [148]:
tweet.split()

['hello', 'sports', '#sports']

In [149]:
tweet.split('#')

['hello sports ', 'sports']

In [150]:
tweet.split('#')[1]

'sports'

In [151]:
d = {"k1": 1, "k2": 2}

In [152]:
d

{'k1': 1, 'k2': 2}

In [154]:
d.keys()

dict_keys(['k1', 'k2'])

In [155]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [156]:
d.values()

dict_values([1, 2])

In [167]:
lst = [1,2,3,4,5,6,7]

In [168]:
lst.pop()

7

In [169]:
lst

[1, 2, 3, 4, 5, 6]

In [170]:
item = lst.pop()

In [171]:
lst

[1, 2, 3, 4, 5]

In [172]:
item

6

In [173]:
lst.pop(0)

1

In [174]:
lst

[2, 3, 4, 5]

In [176]:
lst.append(6)

In [177]:
lst

[2, 3, 4, 5, 6]

In [178]:
'x' in [1,2,3,4,5]

False

In [179]:
'x' in lst

False

In [180]:
x = [(1,2),(2,3),(4,5)]

In [183]:
for item in x:
    print(item)

(1, 2)
(2, 3)
(4, 5)

In [185]:
for a,b in x:  #a,b = (a,b) form the tuples above
    print(a)

1
2
4